<%# locals: (video:, return_to: nil ) %>
<%= form_with(model: video, data: {controller: "form", turbo_frame: "_top" }) do |form| %>
  <%= render "shared/form_errors", errors: video.errors if video.errors.any? %>

  <% if return_to %>
    <%= hidden_field_tag :return_to, return_to %>
  <% end %>

  <fieldset>
    <%= form.label :title %>
    <div>
      <%= form.text_field :title,
                      required: true,
                      placeholder: "Enter a descriptive title for your video" %>

      <div class="validator-hint">Can't be blank</div>
    </div>

    <% if !video.persisted? %>
      <%= form.label :file %>
      <div class="pb-4">
        <%= turbo_mount(
          "Dropzone",
          props: {
            url: rails_direct_uploads_url,
            name: "video[file]",
            accept: "video/*",
            acceptDescription: "Only video files are permitted.",
            downloadIcon: "#{icon("download", class: "size-8")}",
            circleCheckIcon: "#{icon("circle-check", class: "text-success size-8")}",
          },
        ) %>
      </div>
    <% end %>

    <%= form.label :description %>
    <%= render "shared/expanding_rich_text",
    form:,
    name: "description",
    id: "video_description_input",
    default_view: "detail",
    placeholder: "Enter a detailed description here..." %>

    <%= form.hidden_field :user_id, value: Current.user.id %>
  </fieldset>

  <div class="mt-4">
    <%= form.submit %>
  </div>
<% end %>
