<div id="<%= dom_id video %>" class="w-full sm:w-auto my-5 space-y-5">
  <%= link_to "show", video %>
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= video.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= video.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= video.user_id %>
  </div>

</div>
