<div
  id="<%= dom_id video %>"
  class="
    rounded-md aspect-video max-w-sm w-full overflow-hidden relative transform
    transition-transform duration-200 hover:scale-105
  "
>
  <img
    src="<%= polymorphic_url(video.file.preview(resize_to_limit: [1280, 720]))%>"
    alt="<%= video.title %>"
    class="absolute inset-0"
  />
  <div class="absolute inset-0 bg-gradient-to-t from-black/60 to-transparent"></div>
  <div class="absolute inset-0 flex items-end">
    <div class="p-2">
      <p class="text-gray-200"><%= video.title %></p>
    </div>
  </div>

  <%= link_to "", video, class: "inset-0 absolute" %>
</div>
