<% content_for :title, "Showing video" %>

<div class="container mx-auto p-4 grid">

  <div class="w-full rounded-md overflow-hidden pb-4">
    <video class="w-full aspect-video" src="<%= url_for(@video.file) %>" controls/>
  </div>
  <div class="flex justify-between items-center">
    <h1 class="font-semibold text-4xl pb-2"><%= @video.title %></h1>

    <%= render "shared/dropdown", icon: "dots", square: true, direction: "end" do %>
      <li>
        <%= link_to "Edit video", edit_video_path(@video) %>
      </li>
      <li>
        <%= button_to "Delete video", video_path(@video), method: :delete %>
      </li>
    <% end %>
  </div>

  <div class="divider m-0"></div>

  <div>
    <%= @video.description %>
  </div>

  <%= link_to "Edit this video",
  edit_video_path(@video),
  class:
    "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to videos",
  videos_path,
  class:
    "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= button_to "Destroy this video",
  @video,
  method: :delete,
  form_class: "sm:inline-block mt-2 sm:mt-0 sm:ml-2",
  class:
    "w-full rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer",
  data: {
    turbo_confirm: "Are you sure?",
  } %>

</div>
