<%= form_with(model: offer, data: {controller: "form", turbo_frame: "_top"}) do |form| %>
  <%= render "shared/form_errors", errors: offer.errors if offer.errors.any? %>
  <fieldset>
    <%= form.hidden_field :user_id, value: Current.user.id %>

    <%= form.label :title %>
    <%= form.text_field :title, required: :true %>

    <%= form.label :subtitle %>
    <%= form.text_field :subtitle, required: :true %>

    <%= form.label :videos, "Select Videos" %>
    <%= form.collection_check_boxes :video_ids, Video.all, :id, :title do |b| %>
      <%= b.label do %>
        <div class="relative">
          <%= render b.object %>
          <div class="absolute inset-0 grid place-items-center">
            <%= b.check_box(class: "checkbox checkbox-primary") %>
          </div>

        </div>
      <% end %>
    <% end %>

    <%= form.label :description %>
    <%= render "shared/expanding_rich_text",
    form:,
    name: "description",
    id: "offer_description_input",
    default_view: "detail" %>
  </fieldset>

  <div class="mt-4">
    <%= form.submit %>
  </div>
<% end %>
