<% content_for :title, @offer.title %>
<div class="hero bg-base-200 min-h-screen relative">
  <% if authenticated? && @offer.user == current_user %>
    <div class="fixed top-20 z-50">
      <button
        class="btn btn-primary btn-wide gap-2 group"
        data-controller="clipboard"
        data-clipboard-to-copy-value="<%= request.original_url %>"
        data-clipboard-copied-value="false"
        data-action="clipboard#copy"
      >
        <%= icon "share" %>
        <span class="font-semibold group-data-[clipboard-copied-value=false]:hidden">Copied to clipboard!</span>
        <span class="font-semibold group-data-[clipboard-copied-value=true]:hidden">Share This Offer</span>
      </button>
    </div>
  <% end %>
  <div>
    <%= render "offers/hero_content", offer: @offer %>
  </div>

  <div class="absolute top-4 right-4">
    <%= render "shared/dropdown", icon: "dots", square: true, direction: "end" do %>
      <li>
        <%= link_to "Edit this offer", edit_offer_path(@offer) %>
      </li>
      <li>
        <%= button_to "Delete offer",
        @offer,
        method: :delete,
        data: {
          turbo_confirm: "Are you sure?:Deleting an offer can't be undone.",
        } %>
      </li>
    <% end %>
  </div>

</div>
