<div class="navbar bg-base-100 shadow-sm h-16">
  <div class="navbar-start">
  </div>
  <div class="navbar-center">
    <%= link_to root_path, class: "btn btn-ghost sm:text-lg"  do %>
      <%= icon "device-tv", class: "text-accent" %>
      PetitScreen
    <% end %>
  </div>
  <div class="navbar-end">
    <% if authenticated? %>
      <button
        class="btn btn-circle"
        popovertarget="user-menu"
        style="anchor-name:--anchor-1"
      >
        <%= icon "user-circle", class: "size-7" %>
      </button>
      <ul
        class="
          dropdown menu w-52 rounded-box bg-base-100 shadow-sm dropdown-end
        "
        popover
        id="user-menu"
        style="position-anchor:--anchor-1"
      >
        <li>
          <%= link_to "My Account", Current.user %>
        </li>
        <li>

          <%= button_to "Log out", session_path, method: :delete %>
        </li>
      </ul>
    <% else %>
      <%= link_to "Get Started", new_registration_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
